.modal-custom{
    --lightBlue: #E3EDF2;
    --blue: #042B60;
    --error: #FF3D61;
    --warning: #FFB41C;
    --done: #00800E;
    --grey: #D3DFE4;
}
.slds-modal__container{
    display: block;
    padding: 50px 0 50px 0;
    overflow: auto;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.testtest{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    text-align: left;
    margin-right: 10px;
}
.modal-custom .slds-modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0;
    background: var(--lightBlue);
    padding: 24px 60px;
}
.modal-custom .slds-modal__header h2{
    font-size: 16px;
    font-weight: bold;
    color: var(--blue);
    text-transform: uppercase;
}
.modal-custom .slds-icon{
    max-height: 20px;
}
.modal-custom .slds-modal__close{
    position: initial;
}
.modal-custom .slds-modal__footer{
    display: flex;
    justify-content: center;
    border-top: 0;
    padding: 24px 0;
}
.modal-custom .btn-primary{
    border-radius: 4px;
    background-color: var(--blue);
    color: #fff;
    max-width: 320px;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
    border: none;
}
.modal-custom .slds-modal__content{
    padding: 34px 60px;
}
.modal-custom p{
    margin-bottom: 16px;
}
.modal-custom .name{
    text-transform: uppercase;
}
.modal-custom img{
    max-height: 32px;
}
.modal-custom img:not(:first-child){
    margin-left: 16px;
}
.modal-custom .icons{
    display: flex;
    justify-content: center;
}

.modal-custom .addFile{
    display: inline;
}

.modal-custom .sizeMax{
    font-weight: bold;
    color: red;
}
.inputSubject{
    border-color: #8b8b8b;
}
.backgroundImgOption{
    max-height: none !important;
    height: 50px;
}
.selectTemplate{
    border-color: #3c6f8a;
    border-width: 2px;
}