.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  /* background-color: #e2edf3; */
  background-color: #F7F7F7;
  padding: 28px;
  text-align: center;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 115px;
  width: 120px;
  background-color: white;
  border-radius: 8px;
  margin: 8px;
  position: relative;
}

.item-img{
  padding-top: 10px;
  margin-bottom: 16px;
  width: 25px;
}

.item figcaption{
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 10px;
}

.title-shortcut{
  display: block;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  /* figure .item-img{
    position: relative;
    top: 24px;
  }

  figure figcaption{
    position: relative;
    bottom: 16px;
  } */
  
  .container{
    margin-left: -16px;
    width: calc(100% + 32px);
    border-radius: 0 !important;
  }

  /* .item{
    height: 150px;
    width: 150px;
    width: 90px;
    margin: 24px;
    padding: 0 20px;
  } */
}